*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.q-btn{
  /* padding: 5px 15px 5px 15px; */
  height: 30px ;
  width: 65px;
  background-color: rgba(17, 17, 67, 0.837);
  color: white;
  border-radius: 15px;
  border: none;
  font-size: 0.8rem;
}
.query {
  width: 100%; /* Default for small screens (xs) */
}

/* For medium screens and above (md, lg) */
@media (min-width: 768px) {
  .query {
    width: 70%;
  }
}


.empl-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Make the table responsive for small screens */
@media (max-width: 768px) {
  .table-responsive {
      overflow-x: auto; /* Horizontal scrolling */
  }
}